<!DOCTYPE html>
<html>
<head>
  <title>A Meaningful Page Title</title>
</head>
<body>
<form>
    <label for="package">Select Package To Apply:</label><br>
    <select name="package" id="package">
        <option value="AutonomTest">Autonom Test Project</option>
        <option value="Deportak">Deportak Project</option>
        <option value="Tirport">Tırport Project</option>
        <option value="ITOYS">Itoys Project</option>
      </select>
    <label for="logic">Enter Main Logic Name:</label><br>
    <input type="text" name="logic" id="logic">
    

</form>

</body>
</html>